USE [RestAPIDapper]
GO
/****** Object:  StoredProcedure [dbo].[Create_Attribute]    Script Date: 1/30/2019 9:37:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		TEDU
-- Create date: 11/1/2018
-- Description:	Save permissions for role id
-- =============================================

CREATE PROCEDURE [dbo].[Create_Attribute]
	@code varchar(255),
	@name nvarchar(255),
	@sortOrder int,
	@backendType varchar(50),
	@isActive bit,
	@hasOption bit,
	@language varchar(5),
	@values nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	set xact_abort on;
	begin tran
	begin try
	  if not exists(select 1 from Attributes where Code = @code)
	  begin
		--Insert attribute
		insert into Attributes(Code,Name,SortOrder,BackendType,IsActive)
		values(@code,@name,@sortOrder,@backendType,@isActive)
		--Insert options
		declare @attributeId int
		select @attributeId = SCOPE_IDENTITY()
		if @hasOption = 1
		begin
			insert into AttributeOptions(AttributeId,SortOrder) values(@attributeId,1)
			declare @optionId int
			select @optionId = SCOPE_IDENTITY()
			--Insert option values
			declare @valueTbl table(Data nvarchar(255))
			insert into @valueTbl(Data)
			select * from dbo.ufn_CSVToTable(@values,',')

			insert into AttributeOptionValues(OptionId,Value,LanguageId)
			select @optionId,*,@language from @valueTbl
		end
		
	  end
	commit
	end try
	begin catch
		rollback
		  DECLARE @ErrorMessage VARCHAR(2000)
		  SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
		  RAISERROR(@ErrorMessage, 16, 1)
	end catch



  
END
